<!DOCTYPE html>
<html>
<meta charset = "UTF-8">
<title>HOUSE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/static/login.css"/>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<script>
<!-- nav 열고 닫을 때 -->
function w3_open() {
  document.getElementById("main").style.marginLeft = "20%";
  document.getElementById("mySidenav").style.width = "20%";
  document.getElementById("mySidenav").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidenav").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}

<!-- 프로필 수정 열고 닫을 때 -->
function modify(){
	document.getElementById("mySidenav").style.opacity= "0.2";
	
	document.getElementById("main").style.visibility= "hidden";
	
	document.getElementById("modify").style.display = "block";
}
function cancel(){
	document.getElementById("modify").style.display = "none";
	document.getElementById("main").style.visibility= "visible";
	document.getElementById("mySidenav").style.opacity= "1.0";
}

openCity("London")
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
}
</script>

<style>
.w3-lobster {
  font-family: "Lobster", serif;
}
</style>

<body>
<!-- 프로필 클릭으로 회원 정보 수정 -->
<div id = "modify" style="width:400px; height:500px; float:left">
	<div class="w3-container w3-section w3-border w3-border-purple w3-hover-border-blue" style="padding:10px" >
		<div class="w3-card-12" >
			<div class="w3-container w3-blue">
				<h2>회원정보 수정</h2>
			</div>
			<form class="w3-container" action="main.html" method="POST">
				<p><label>I D : </label>ID 정보</p>

				<p><label>name : </label>이름정보</p>
				
				<p><label>password</label><input class="w3-input" type="password"></p>

				<p><label>Tel</label><input class="w3-input" type="text"></p>

				<label>성별 : </label> 회원 성별

				<center><INPUT TYPE=SUBMIT class="w3-btn w3-light-grey" id="signUp" value='정보 수정'>
				<INPUT TYPE=button id="submit" class="w3-btn w3-light-grey" VALUE='취소' onclick="cancel()"></center>
			</form>
		</div>
	</div>
</div>

<!-- 메뉴 아이콘 클릭 시 좌측 사이드 바 -->
<nav class="w3-sidenav w3-white w3-card-2" style="display:none" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-closenav w3-large">Close &times;</a>
  <a href="#" class="w3-hover-none w3-hover-text-red" onclick="modify()"> <img src="효성3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;height:60px" onclick="modify()">프로필</a><br/><br/>
  <a href="#" class="w3-hover-none w3-hover-text-red" style="margin-top:10px;">Main</a>
  <a href="#" class="w3-hover-none w3-hover-text-red" style="margin-top:10px;">Match</a>
  <a href="#" class="w3-hover-none w3-hover-text-red" style="margin-top:10px;">자유게시판</a>
</nav>



<div id="main">
	<!-- 앱 이름 나와있는 헤더 부분 -->
	<header id="header1">
		<div class="w3-container w3-aqua w3-text-white">
			<center><div class="w3-container w3-lobster">
				<p class="w3-xxxlarge">share house</p>
			</div></center>
		</div>
	</header>
	
	<!-- 메뉴 바 -->
	<nav id="nav1">
		<!-- nav 보이게 하는 아이콘 -->
		<span class="w3-opennav w3-xlarge" onclick="w3_open()" id="openNav" style="float:left">&#9776;</span>
		<!-- search text -->
		<div class="w3-half" id="searchInput">
			<input class="w3-input w3-border" type="text" placeholder="search" >
		</div>
		<!-- search 아이콘 -->
		<div>
			<a href="#"><i id="search" class="fa fa-search w3-xxlarge" style="float:left"></i></a>
		</div>
		<!-- 등록 아이콘 -->
		<div class="w3-container" align ="right">
			<a id="image" class="w3-btn-floating-large w3-disabled">+</a>
		</div>
	</nav>
	<!-- 메인 몸통 부분(사진, 부가 설명 등등), 다양한 메뉴 -->
	<section style="width:70%">
		<!-- 메뉴 -->
		<ul class="w3-navbar w3-black" id="ul1">
		  <li><a href="#" onclick="openCity('London')">Introduce</a></li>
		  <li><a href="#" class="block" onclick="openCity('Paris')" >developer</a></li>
		  <li><a href="#" class="block" onclick="openCity('Tokyo')" >video</a></li>
		</ul>
		<!-- 첫 번째 메뉴 -->
		<div id="London" class="w3-container city">
			<div class="w3-container w3-section w3-border w3-border-purple w3-hover-border-blue" style="padding:10px" >
				<div class="w3-card-12" >
					<img src="/static/house.jpg" alt="house" class="w3-hover-opacity" style="width:100%">
					<div class="w3-container w3-center">
						<p>House Infomation</p>
					</div>
				</div>
			</div>
			<aside>
				<div class="w3-container">
					<p>A car is a wheeled, self-powered motor vehicle used for transportation.</p>
				</div>
			</aside>
		</div>
		<!-- 두 번째 메뉴 -->
		<div id="Paris" class="w3-container city" style="display:none">
			<!-- 개발자 1 -->
			<div class="w3-card-8 w3-dark-grey" style="width:50%">
				<div class="w3-container w3-center">
					<h3>Friend Request</h3>
					<img src="/static/박보영.png" alt="Avatar" style="width:400px; height:300px;">
					<h5>John Doe</h5>
					<div class="w3-section">
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<!-- 개발자 2 -->
			<div class="w3-card-8 w3-dark-grey" style="width:50%">
				<div class="w3-container w3-center">
					<h3>Friend Request</h3>
					<img src="/static/박보영.png" alt="Avatar" style="width:400px; height:300px;">
					<h5>John Doe</h5>
					<div class="w3-section">
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<!-- 개발자 3 -->
			<div class="w3-card-8 w3-dark-grey" style="width:50%">
				<div class="w3-container w3-center">
					<h3>Friend Request</h3>
					<img src="/static/박보영.png" alt="Avatar" style="width:400px; height:300px;">
					<h5>John Doe</h5>
					<div class="w3-section">
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<!-- 개발자 4 -->
			<div class="w3-card-8 w3-dark-grey" style="width:50%">
				<div class="w3-container w3-center">
					<h3>Friend Request</h3>
					<img src="/static/박보영.png" alt="Avatar" style="width:400px; height:300px;">
					<h5>John Doe</h5>
					<div class="w3-section">
					</div>
				</div>
			</div>
			<br/>
			<br/>
	
		</div>
		<!-- 세 번째 메뉴 -->
		<div id="Tokyo" class="w3-container city" style="display:none">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/pMurz6YWfgM" frameborder="0" allowfullscreen></iframe>
		</div>
	</section>
	
	<!-- 로그인 창, 사용자 정보 창 -->
    {% if session.login_status %}
        <div id="info" style="width:20%">
            <form class="w3-container" action="main.html" method="POST">
                <div class="w3-container w3-blue">
                    <h2>login</h2>
                </div>
                <p><label><span style='letter-spacing:16px'>I D</span> : </label>{{ session.ID }}</p>
                <p>안녕하세요.</p>

                <center><INPUT TYPE=SUBMIT class="w3-btn w3-light-grey" id="signUp" value='이용내역'>
                    <INPUT TYPE=button id="submit" class="w3-btn w3-light-grey" VALUE='로그아웃' onclick="location.href='/logout'"></center>
            </form>
            <br/>
        </div>
    {% else  %}
        <div id="info" style="width:20%">
            <form action="/login" method="POST">
                <div class="w3-container w3-blue">
                    <h2>login</h2>
                </div>
                <p><label><span style='letter-spacing:16px'>I D</span> : </label><input type="text" name="ID" required style="width : 70%"></p>

                <p><label>password : </label><input type="text" name="password" required style="width : 70%"></p>
                <center><INPUT TYPE=SUBMIT class="w3-btn w3-light-grey" id="signUp" value='로그인'>
                <INPUT TYPE=button id="submit" class="w3-btn w3-light-grey" VALUE='회원가입' onclick="location.href='/sign'"></center>
            </form>
            <br/>

        </div>
    {%  endif %}


	
	<!-- footer -->
	<footer id="footer1">
	<div class="w3-container w3-aqua">
	  <center><p>admin) 010-1234-5678</p></center>
	</div>
	</footer>
</div>
</body>
</html>
